In [1]:
import pandas as pd
import numpy as np
import os
import matplotlib.pyplot as plt

In [3]:
df = pd.read_csv('expense_data.csv')
df.describe()

       Subcategory           INR  Note.1        Amount     Account.1
count          0.0    277.000000     0.0    277.000000    277.000000
mean           NaN    410.750903     NaN    406.759134    406.759134
std            NaN   1065.756569     NaN   1065.158318   1065.158318
min            NaN      3.000000     NaN      3.000000      3.000000
25%            NaN     50.000000     NaN     50.000000     50.000000
50%            NaN    128.000000     NaN    125.000000    125.000000
75%            NaN    301.150000     NaN    300.000000    300.000000
max            NaN  10000.000000     NaN  10000.000000  10000.000000

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 277 entries, 0 to 276
Data columns (total 11 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Date            277 non-null    object
 1   Account         277 non-null    object
 2   Category        277 non-null    object
 3   Subcategory     0 non-null      float64
 4   Note            273 non-null    object
 5   INR             277 non-null    float64
 6   Income/Expense  277 non-null    object
 7   Note.1          0 non-null      float64
 8   Amount          277 non-null    float64
 9   Currency        277 non-null    object
 10  Account.1       277 non-null    float64
dtypes: float64(5), object(6)
memory usage: 23.9+ KB

In [11]:
df.head()
df['Date'] = pd.to_datetime(df['Date'])